:root {
  --gemini-bg-darker: #0e0e11;
  --gemini-bg-main: #131314;
  --gemini-bg-lighter: #1e1f20;
  --gemini-border: #3c4043;
  --gemini-text-main: #e3e3e3;
  --gemini-text-subtle: #b4b4b4;
  --gemini-blue: #444746;
  
  --gemini-gradient: linear-gradient(90deg, #4285f4, #9b72cb, #d96570);

  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  font-size: 16px;
  background-color: var(--gemini-bg-main);
  color: var(--gemini-text-main);
  color-scheme: dark;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: var(--gemini-bg-main);
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--gemini-bg-main);
}
::-webkit-scrollbar-thumb {
  background: var(--gemini-border);
  border-radius: 10px;
}